//Color Pallette

$white: #ffffff;
$black: #000000;

$almost-white: #FFF9F1;

$light-brown: #99913D;
$yellow: #CCBC11;
$yellow-orange: #FFB600;
$blue: #028AFF;
$light-blue: #14A7CC;

$smoke: #212121;
$grey: #818280;
$light-grey: #ACADAA;

$low-skill: #FF2D00;
$med-skill: #FFCB06;
$int-skill: #A4E806;
$adv-skill: #07FF4A;

//Type Sizes

$xlarge: 32px;
$large: 24px;
$normal: 22px;
$small: 16px;
$xsmall: 14px;
$tiny: 12px;

$default-type: Helvetica, Arial, sans-serif;

//Relative padding
$p: 6px;