@import 'compass';
@import '_variables.scss';
@import '_mixins.scss';

.skill-readout {
    padding: 1em;
    border: 2px solid $smoke;
    background-color: $white;
}

.skill-readout-levels {
    display: inline;

    li {
        @include inline-block();
        margin: cp(0.5);
        width: 20px;
        height: 20px;
        border: 1px dashed $grey;
        @include border-radius(5px);

        &.is-active {
            border: 1px solid $smoke;
        }

        &.skill-readout-level-1.is-active {
            background-color: $low-skill;
        }

        &.skill-readout-level-2.is-active {
            background-color: $med-skill;
        }

        &.skill-readout-level-3.is-active {
            background-color: $int-skill;
        }

        &.skill-readout-level-4.is-active {
            background-color: $adv-skill;
        }
    }
}