<!DOCTYPE html>

<html>
    <head>
        <title>LevelUpWeb Demo Page</title>

        <meta name="description" content="A demo of LevelUpWeb, a tool for classifying user skill levels with web interactiosn">
        <meta name="keywords" content="learning,web,levelup">
        <meta name="author" content="Andrew Larkin">
        <meta charset="UTF-8">

        <link href="/css/normalize.css" rel="stylesheet" />
        <link href="/css/base.css" rel="stylesheet" />
        <link href="/css/levelupweb.css" rel="stylesheet" />
        <link href="/css/skill_readout.css" rel="stylesheet" />
        <link href="/css/carousel.css" rel="stylesheet" />

        <script src="/js/vendor/require.js"></script>
        <script src="/js/vendor/jquery-1.8.3.js"></script>
        <script src="/js/vendor/xooie-0.0.3.js"></script>

        <script src="/js/requirejs_config.js"></script>
        
        <script src="/js/levelup.js"></script>
    </head>

    <body class="luw">

        <header class="luw-header">
            <h1 class="luw-h1">LevelUpWeb<span class="luw-h1-subheader">Making a Web That Works For Everybody</span></h1>
        </header>

        <nav class="luw-nav" data-luw-interaction="tiered-nav">
            <h2 class="luw-h2">Explore</h2>
            <ol class="luw-ol luw-nav-list">
                <li class="luw-nav-list-item" data-luw-role="nav-item" data-luw-event="mousedown, mouseup"><a href="">What is LevelUpWeb?</a></li>
                <li class="luw-nav-list-item" data-luw-role="nav-item" data-luw-event="mousedown, mouseup"><a href="">Determining Skill Levels</a></li>
                <li class="luw-nav-list-item" data-luw-role="nav-item" data-luw-event="mousedown, mouseup"><a href="">User Profile Training</a></li>
                <li class="luw-nav-list-item" data-widget-type="dropdown">
                    <button type="button" data-role="dropdown-handle" data-luw-role="nav-dropdown" data-luw-event="mousedown, mouseup">Common Web Interactions</a>
                    <ol class="luw-ol luw-nav-list luw-nav-tiered" data-role="dropdown-content">
                        <li class="luw-nav-list-item" data-luw-role="nav-item" data-luw-event="mousedown, mouseup"><a href="">Carousel</a></li>
                        <li class="luw-nav-list-item" data-luw-role="nav-item" data-luw-event="mousedown, mouseup"><a href="">Tabs</a></li>
                        <li class="luw-nav-list-item" data-luw-role="nav-item" data-luw-event="mousedown, mouseup"><a href="">Forms</a></li>
                        <li class="luw-nav-list-item" data-luw-role="nav-item" data-luw-event="mousedown, mouseup"><a href="">Search</a></li>
                        <li class="luw-nav-list-item" data-luw-role="nav-item" data-luw-event="mousedown, mouseup"><a href="">Menus</a></li>
                        <li class="luw-nav-list-item" data-luw-role="nav-item" data-luw-event="mousedown, mouseup"><a href="">Tiered Menus</a></li>
                        <li class="luw-nav-list-item" data-luw-role="nav-item" data-luw-event="mousedown, mouseup"><a href="">Radial Menus</a></li>
                        <li class="luw-nav-list-item" data-luw-role="nav-item" data-luw-event="mousedown, mouseup"><a href="">Tooltips</a></li>
                        <li class="luw-nav-list-item" data-luw-role="nav-item" data-luw-event="mousedown, mouseup"><a href="">Accordions</a></li>
                        <li class="luw-nav-list-item" data-luw-role="nav-item" data-luw-event="mousedown, mouseup"><a href="">Modals</a></li>
                    </ol>
                </li>
                <li class="luw-nav-list-item" data-luw-role="nav-item" data-luw-event="mousedown, mouseup"><a href="">View Data</a></li>
                <li class="luw-nav-list-item" data-luw-role="nav-item" data-luw-event="mousedown, mouseup"><a href="http://github.com/andrewlarkin/LevelUpWeb" target="_blank">Check Out the Project on GitHub!</a></li>
            </ol>

            <h2 class="luw-h2">How Am I Doing?</h2>
            <ol class="luw-ol skill-readout">
                <li class="skill-readout-item" data-readout-type="carousel">
                    <span>Carousel</span>
                    <ol class="skill-readout-levels" data-readout-role="level-container">
                        <li class="skill-readout-level-1 is-active"></li>
                        <li class="skill-readout-level-2 is-active"></li>
                        <li class="skill-readout-level-3 is-active"></li>
                        <li class="skill-readout-level-4"></li>
                    </ol>
                </li>
                <li class="skill-readout-item" data-readout-type="tiered-nav">
                    <span>Tiered Nav</span>
                    <ol class="skill-readout-levels" data-readout-role="level-container">
                        <li class="skill-readout-level-1 is-active"></li>
                        <li class="skill-readout-level-2 is-active"></li>
                        <li class="skill-readout-level-3 is-active"></li>
                        <li class="skill-readout-level-4"></li>
                    </ol>
                </li>
            </ol>
        </nav>
        
        <section class="luw-section">
            <h1 class="luw-h1">Carousel</h1>

            <div class="carousel" data-widget-type="carousel" data-luw-interaction="carousel">
                <button class="carousel-control prev" type="button" data-role="carousel-control" data-scroll="-1item" data-luw-role="carousel-nav" data-luw-event="mousedown, mouseup">&larr;</button>
                <button class="carousel-control next" type="button" data-role="carousel-control" data-scroll="+1item" data-luw-role="carousel-nav" data-luw-event="mousedown, mouseup">&rarr;</button>

                <div>
                    <ol class="luw-ol carousel-content" data-role="carousel-content" data-luw-role="carousel-container" data-luw-event="scroll">
                        <li data-luw-role="carousel-item" data-luw-event="mousedown, mouseup"></li>
                        <li data-luw-role="carousel-item" data-luw-event="mousedown, mouseup"></li>
                        <li data-luw-role="carousel-item" data-luw-event="mousedown, mouseup"></li>
                        <li data-luw-role="carousel-item" data-luw-event="mousedown, mouseup"></li>
                        <li data-luw-role="carousel-item" data-luw-event="mousedown, mouseup"></li>
                        <li data-luw-role="carousel-item" data-luw-event="mousedown, mouseup"></li>
                        <li data-luw-role="carousel-item" data-luw-event="mousedown, mouseup"></li>
                        <li data-luw-role="carousel-item" data-luw-event="mousedown, mouseup"></li>
                        <li data-luw-role="carousel-item" data-luw-event="mousedown, mouseup"></li>
                        <li data-luw-role="carousel-item" data-luw-event="mousedown, mouseup"></li>
                    </ol>
                </div>
            </div>

            <div data-widget-type="tab">


            </div>
        </section>

        <footer class="luw-footer">
            <p>© 2012 Andrew Larkin</p>
        </footer>   

        <script> 
            require(['readout'], function(Readout){
                $('[data-readout-type]').each(function(index, element){
                    var interaction = $(element).attr('data-readout-type');

                    new Readout(interaction, $(element));
                });
            });
        </script>

    </body>
</html>