<!DOCTYPE html>

<html>
    <head>
        <title>LevelUpWeb Demo Page</title>

        <meta name="description" content="A demo of LevelUpWeb, a tool for classifying user skill levels with web interactiosn">
        <meta name="keywords" content="learning,web,levelup">
        <meta name="author" content="Andrew Larkin">
        <meta charset="UTF-8">

        <script src="/js/vendor/require.js"></script>
        <script src="/js/vendor/jquery-1.8.3.js"></script>
        <script src="/js/vendor/xooie-0.0.2.js"></script>

        <script src="/js/requirejs_config.js"></script>

        <script src="/socket.io/socket.io.js"></script>
        
        <script src="/js/levelup.js"></script>

    </head>

    <body>
        
        <div data-widget-type="carousel">
            <button class="carousel-control prev" type="button" data-role="carousel-control" data-scroll="-1item"></button>
            <button class="carousel-control next" type="button" data-role="carousel-control" data-scroll="+1item"></button>

            <div>
                <ol data-role="carousel-content">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ol>
            </div>
        </div>

        <div data-widget-type="tab">


        </div>

    </body>
</html>